/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

#logo img {
    margin: 12px 0;
    height: 66px;
}

.testimonial-full .testi-content {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.footer-logo {
    width: 170px;
    height: auto;
}

.testimonials .container:before {
    top: -10px;
}

.testimonials .container:after {
    bottom: -10px;
}

.owl-carousel .owl-dots .owl-dot {
    cursor: pointer;
}

.hero-features {
    transform: none;
}

.home-events .card-title {
    /*color: #0061aa;*/
    text-align: center;
}

.home-events input {
    width: 100% !important;
}

.home-events form {
    justify-content: center;
    align-content: center;
}

.home-events h3 {
    width: 100%;
    text-align: center;
}

.header-down {
    position: absolute;
    bottom: 10px;
    left: 50%;
    color: #fff;
    font-size: 38px;
    cursor: pointer;
}
