/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

@media (max-width: 575.98px) {
    .container, #header.full-header .container, .container-fullwidth {
        width: 100% !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}

@media (max-width: 767.98px) {
    .hero-features {
        max-width: 90%;
    }
}

#top-account {
    margin: 31px 0 20px 20px;
}

#logo img {
    margin: 12px 0;
    height: 66px;
}

.testimonial-full .testi-content {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.footer-logo {
    width: 170px;
    height: auto;
}

.testimonials .container:before {
    top: -10px;
}

.testimonials .container:after {
    bottom: -10px;
}

.owl-carousel .owl-dots .owl-dot {
    cursor: pointer;
}

.hero-features {
    transform: none;
}

.home-events .card-title {
    /*color: #0061aa;*/
    text-align: center;
}

.subscribe input {
    width: 100% !important;
}

.subscribe form {
    justify-content: center;
    align-content: center;
}

.subscribe h3 {
    width: 100%;
    text-align: center;
}

.header-down {
    position: absolute;
    bottom: 10px;
    left: 50%;
    color: #fff;
    font-size: 38px;
    cursor: pointer;
}

#primary-menu-trigger {
    left: 0;
}

#primary-menu-trigger i {
    color: #0061aa;
    font-size: 24px;
}
