/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/
@font-face {
    font-family: 'lighthouse';
    src: url('../fonts/lighthouse-webfont.woff2') format('woff2'),
    url('../fonts/lighthouse-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#primary-menu-trigger {
    left: 0;
}

#primary-menu-trigger i {
    color: #0061aa;
    font-size: 24px;
}


@media (max-width: 575.98px) {
    .container, #header.full-header .container, .container-fullwidth {
        width: 100% !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}

@media (max-width: 767.98px) {
    .hero-features {
        max-width: 90%;
    }
}

#top-account {
    margin: 31px 0 20px 20px;
}

#logo img {
    margin: 16px 0;
    height: 66px;
}

.testimonial-full .testi-content {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}


@media (max-width: 768px) {
    .footer-map {
        margin-top: 30px;
    }
}

.footer-logo {
    width: 170px;
    height: auto;
}

.footer-socials {
    width: 100%;
    display: flex;
    justify-content: center;
}

.testimonials .container:before {
    top: -10px;
}

.testimonials .container:after {
    bottom: -10px;
}

.owl-carousel .owl-dots .owl-dot {
    cursor: pointer;
}

.hero-features {
    transform: none;
}

.home-events .card-title {
    /*color: #0061aa;*/
    text-align: center;
}

.subscribe input {
    width: 100% !important;
}

.subscribe form {
    justify-content: center;
    align-content: center;
}

.subscribe h3 {
    width: 100%;
    text-align: center;
}

.header-down {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -30px;
    color: #fff;
    font-size: 38px;
    cursor: pointer;
}

.form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 20px 0;
}

.instagram-grid {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 40px 0 0;
}

.instagram-grid > div {
    width: calc(25% - 20px);
    height: 200px;
    margin: 10px;
    overflow: hidden;
}

@media (max-width: 1199.98px) {
    .instagram-grid > div {
         height: 170px;
    }
}

@media (max-width: 991px) {
    .instagram-grid > div {
        width: calc(50% - 20px);
        height: 240px;
    }
    #header.transparent #primary-menu-trigger i {
        color: #fff;
    }
    .hero-text {
        padding: 0 30px;
    }
}

@media (max-width: 768px) {
    .instagram-grid > div {
        width: calc(50% - 20px);
        height: 200px;
    }
}

@media (max-width: 575.98px) {
    .instagram-grid > div {
        width: calc(50% - 20px);
        height: 120px;
    }
}

.instagram-grid > a {
    width: 100%;
}

.instagram-grid a > div {
    width: 100%;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    border: 0 solid #000;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    position: relative;
}

.instagram-grid > a > div > div {
    width: 100%;
    display: block;
    overflow: hidden;
    padding-bottom: 100%;
}

.instagram-grid a > div > div > img {
    height: 100%;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    object-fit: cover;
}

.home-hero::before {
    background: rgba(10, 10, 10, 0.35);
}

.hero-text {
    justify-content: center;
    text-align: center;
}

.hero-text h1 {
   font-weight: 500;
   font-family: 'lighthouse', 'Open Sans', 'Raleway', sans-serif;
   font-size: 62px;
}

/*.heading-block .before-heading {*/
/*    //font-family: 'lighthouse', 'Open Sans', 'Raleway', sans-serif;*/
/*}*/

.heading-block h3 a {
    color: #333;
}


#header {
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    transition: background 0.3s ease;
}
#header.transparent {
    background: transparent;
}


#header #header-wrap {
    paddding: 15px 0;
}

.heading-block h3 {
    font-size: 26px;
    line-height: 33px;
}

#header.sticky-header #header-wrap {
    background: transparent;
}

#primary-menu > ul > li > a {
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 16px;
}

#header.transparent #primary-menu > ul > li > a {
    color: #fff;
}

#header.transparent #primary-menu > ul > li > a:hover {
    color: #fff;
}


body {
    font-family: 'Open Sans', sans-serif;
}

.events-list .card > div {
    position: relative;
}

.events-list .card > div > span {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: auto;
    height: auto;
    opacity: 0;
    transition: opacity 0.2s ease;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 6px;
}

.events-list .card > div > span > p {
   margin: 0;
   color: #fff;
   text-align: center;
   width: 100%;
}

.events-list .card > div:hover span {
    opacity: 1;
}


.feature-box.fbox-plain.fbox-small .fbox-icon {
    width: 38px;
    position: absolute;
    top: -3px;

}

.feature-box.fbox-plain.fbox-small .fbox-icon img {
    height: 100%;
}

